<h1>Witamy!</h1>

<p>
    Aby zresetować swoje hasło kliknij w poniższy link: <br><br>
    <a href="{{ signedUrl|raw }}">Zmień swoje hasło</a>.
    Link wygaśnie w ciągu {{ expiresAt }} godzin.
</p>

<p>
    Pozdrawiamy!
    Zespół Akademii Rodziców Bobolen
</p>
