<h1>Witamy! Prosimy o potwierdzenie konta!</h1>

<p>
    Aby potwierdzić konto kliknij w poniższy link: <br><br>
    <a href="{{ signedUrl|raw }}">Potwierdź mój email</a>.
    Link wygaśnie w ciągu {{ expiresAt }} godzin.
</p>

<p>
    Pozdrawiamy!
    Zespół Akademii Rodziców Bobolen
</p>
